<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Blogger</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/errors/forbidden.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errors/not_found.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/errors/internal_server_error.jsp</location>
  </error-page>
  <security-constraint>
    <display-name>Login Pages</display-name>
    <web-resource-collection>
      <web-resource-name>login_pages</web-resource-name>
      <url-pattern>/login.jsp</url-pattern>
      <url-pattern>/Login/</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/errors/forbidden.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
    <servlet-name>ViewBlogger</servlet-name>
    <servlet-class>servlets.ViewBlogger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBlogger</servlet-name>
    <url-pattern>/user/edit/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllBlogs</servlet-name>
    <servlet-class>servlets.ViewAllBlogs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllBlogs</servlet-name>
    <url-pattern>/blogs/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.CreateBlogger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>